root = true

[*]
# Do not change
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Changeable
indent_style = space
indent_size = 4

[gradlew.bat]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false

[*.{ts,tsx,js,jsx,json,css,scss,yml,yaml}]
indent_size = 2

[{*.gradle.kts, *.kt, *.kts, *.main.kts}]
ij_kotlin_import_nested_classes = true
ij_kotlin_name_count_to_use_star_import = 100
ij_kotlin_name_count_to_use_star_import_for_members = 100
