<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration
    xmlns="http://ch.qos.logback/xml/ns/logback"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback
                        https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd"
    scan="true"
    debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <logger name="io.micronaut.context.condition" level="DEBUG"/>-->

    <logger name="org.hibernate.SQL"                                      level="DEBUG"/>
    <logger name="org.hibernate.resource.jdbc"                            level="TRACE"/>
    <logger name="org.hibernate.persister.entity"                         level="DEBUG"/>
    <logger name="org.hibernate.type.descriptor.sql"                      level="TRACE"/>
    <logger name="org.hibernate.loader.plan.build.spi"                    level="TRACE"/>
    <logger name="org.hibernate.engine.internal.Cascade"                  level="TRACE"/>
    <logger name="org.mariadb.jdbc.internal.logging.ProtocolLoggingProxy" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
